* {
  background-color: #b0bbbf;
}

.Timer {
  text-align: center;
  margin-top: 3vh;
}

.num {
  color: #2e4052;
  font-size: 10vw;
}

.btn {
  display: flex;
  justify-content: space-evenly;
}

.add {
  width: 5vw;
  height: 5vw;
  border-radius: 10%;
}

.sub {
  width: 5vw;
  height: 5vw;
  border-radius: 10%;
}
